body {
    background: linear-gradient(#9CCAD3, #C46E89);
}


 h1 {
    font-family: courier;
    color: #326771;
    text-align: center;
}

img {
    height: 200px;
    border-radius: 30%;
    object-fit: cover;
}

h2 {
    color: #963D5A;
}

p {
    color: 191716;
    padding: 10px;
}

h3 {
    color: #56A4B3;
}

ul {
    display: inline;
    padding: 50px;
    list-style: none;
}

.white-card {
    border: double;
    text-align: center;
    border-spacing: 100px;
    padding: 50px;
    margin: 20px 100px;
    border-radius: 20px;
    box-shadow: 3px 5px 10px #292b2c;
    background-color: #F7F4F3;
}

.elements-in-line {
    text-align: center;
}

.elements-in-line > img {
    height: 50px;
    border-radius: 0; 
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}